.mass-detail-viewer {
    display: flex;
    gap: 2rem;
    margin-top: 2rem;
}

.mass-detail-chart {
    flex: 2;
}

.mass-detail-metadata {
    flex: 1;
}

.controls {
    margin-bottom: 1rem;
    display: flex;
    gap: 1rem;
    align-items: center;
}
