.app-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: var(--bg-color);
  color: var(--text-color);
}

.main-content-scrolling {
  flex-grow: 1;
}

.stats-container {
  text-align: center;
  margin-bottom: 1rem;
}

.graph-section {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 2rem;
  box-sizing: border-box;
  opacity: 0;
  transition: opacity 0.75s ease-in-out;
}

.graph-section.is-visible {
  opacity: 1;
}
